---
import CoffeeIcon from "../atoms/icons/CoffeeIcon.astro";
import VideoGameIcon from "../atoms/icons/VideoGameIcon.astro";
import CatIcon from "../atoms/icons/CatIcon.astro";
import BookIcon from "../atoms/icons/BookIcon.astro";
import RobotIcon from "../atoms/icons/RobotIcon.astro";
import GymIcon from "../atoms/icons/GymIcon.astro";
import Divider from "../atoms/Divider.astro";
import { getLangFromUrl, useTranslations } from "../../../data/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Divider size="60px" />
<h3>Mis estudios</h3>
<ul>
  <li>
    <CoffeeIcon />
    {t("hobbies.barista")}
  </li>
  <li>
    <VideoGameIcon />
    {t("hobbies.games")}
  </li>
  <li>
    <CatIcon />
    {t("hobbies.cats")}
  </li>
  <li>
    <BookIcon />
    {t("hobbies.read")}
  </li>
  <li>
    <RobotIcon />
    {t("hobbies.robotic")}
  </li>
  <li>
    <GymIcon />
    {t("hobbies.gym")}
  </li>
</ul>

<style>
  ul {
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 80px;
  }

  h3 {
    color: var(--primary-color);
  }
</style>
