---
import SocialLinks from "../atoms/SocialLinks.astro";
---

<footer>
  <div>
    Creado por Wilfer Daniel Ciro Maya<br />
    Ver código fuente de este portafolio
  </div>
  <div>
    <SocialLinks />
  </div>
</footer>

<style>
  footer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 60px;
    background-color: var(--bg-color2);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @media (max-width: 740px) {
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
</style>
