---
import SocialLinks from "../atoms/SocialLinks.astro";
---

<footer>
  <div>Creado por Wilfer Daniel Ciro Maya</div>
  <div>
    <SocialLinks />
  </div>
</footer>

<style>
  footer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @media (max-width: 740px) {
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
</style>
