---
import SocialLinks from "../atoms/SocialLinks.astro";
---

<footer>
  <div class="credits">
    <div>2023</div>
    <div>Creado por <b>Wilfer Daniel Ciro Maya</b></div>
    <div>Ver código fuente de este portafolio</div>
  </div>
  <div>
    <SocialLinks />
  </div>
</footer>

<style>
  footer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 40px 60px;
    background-color: var(--bg-color2);
    color: var(--text-color3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
  }
  .credits {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  @media (max-width: 740px) {
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-bottom: 110px;
    }
    .credits {
      flex-direction: column;
    gap: 10px;
    }
  }
</style>
