---
import { getLangFromUrl, useTranslations } from "../../../data/i18n/utils";
import SocialLinks from "../atoms/SocialLinks.astro";
import ExternalLinkIcon from "../atoms/icons/ExternalLinkIcon.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const year = new Date().getFullYear();
---

<footer>
  <div class="credits">
    <div>{year}</div>
    <div>{t("footer.created_by")}{" "}<b>Wilfer Daniel Ciro Maya</b></div>
    <div>
      <a class="link" href="https://github.com/WilferCiro/portfolio" target="_blank"
        >{t("footer.see_code")} <ExternalLinkIcon />
      </a>
    </div>
  </div>
  <div>
    <SocialLinks />
  </div>
</footer>

<style>
  footer {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 40px 60px;
    background-color: var(--bg-color2);
    color: var(--text-color3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
  }
  .credits {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .link {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  @media (max-width: 740px) {
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding-bottom: 110px;
    }
    .credits {
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
