---
import SocialLinks from "../atoms/SocialLinks.astro";
import Tooltip from "../atoms/Tooltip.astro";
import CompassIcon from "../atoms/icons/CompassIcon.astro";
import HomeIcon from "../atoms/icons/HomeIcon.astro";
import AboutMeIcon from "../atoms/icons/AboutMeIcon.astro";
import WorkIcon from "../atoms/icons/WorkIcon.astro";
import ContactIcon from "../atoms/icons/ContactIcon.astro";
import MoonIcon from "../atoms/icons/MoonIcon.astro";

const currentPath = Astro.url.pathname;
---

<header transition:persist>
  <ul class="menu">
    <li>
      <Tooltip title="Inicio"><a href="/"><HomeIcon /></a></Tooltip>
    </li>
    <li>
      <Tooltip title="Sobre mi">
        <a href="/about" class={currentPath === "/about" ? "active" : ""}
          ><AboutMeIcon />
        </a>
      </Tooltip>
    </li>
    <li>
      <Tooltip title="Proyectos">
        <a href="/projects" class={currentPath === "/projects" ? "active" : ""}
          ><CompassIcon />
        </a>
      </Tooltip>
    </li>
    <li>
      <Tooltip title="Experiencia">
        <a
          href="/#experience"
          class={currentPath === "/experience" ? "active" : ""}
          ><WorkIcon />
        </a>
      </Tooltip>
    </li>
    <li>
      <Tooltip title="Contáctame">
        <a href="/contact" class={currentPath === "/contact" ? "active" : ""}
          ><ContactIcon />
        </a>
      </Tooltip>
    </li>
    <li class="theme-option">
      <Tooltip title="Alternar tema" transition:persist>
        <a id="button-theme" data-theme-toggle><MoonIcon /></a>
      </Tooltip>
    </li>
  </ul>
</header>

<div class="social-links">
  <SocialLinks />
</div>

<style>
  header {
    position: fixed;
    left: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 3;
  }
  .menu-button {
    display: none;
  }
  .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    padding: 12px;
    border-radius: 16px;
    background-color: var(--bg-color2-opacity);
    backdrop-filter: blur(var(--blur-size));
    box-shadow: var(--shadow) 0px 2px 2px 0px, var(--shadow) 0px 4px 4px 0px,
      var(--shadow) 0px 8px 8px 0px, var(--shadow) 0px 16px 16px 0px,
      var(--shadow) 0px 32px 32px 0px;
  }
  .menu li a {
    border-radius: 10px;
    background-color: var(--bg-color1);
    display: block;
    padding: 6px 8px;
    color: var(--text-color3);
    transition: all 0.3s;
    border: solid 1px var(--bg-color1);
  }
  .menu li a:hover {
    color: var(--body-color);
  }
  .theme-option {
    margin-top: 20px;
  }
  .active {
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
  }
  .social-links {
    top: 20px;
    right: 20px;
    position: fixed;
    padding: 10px 12px;
    border-radius: 16px;
    z-index: 3;
    background-color: var(--bg-color2-opacity);
    backdrop-filter: blur(var(--blur-size));
    box-shadow: var(--shadow) 0px 2px 2px 0px, var(--shadow) 0px 4px 4px 0px,
      var(--shadow) 0px 8px 8px 0px, var(--shadow) 0px 16px 16px 0px,
      var(--shadow) 0px 32px 32px 0px;
  }
  @media (max-width: 740px) {
    header {
      bottom: 15px;
      left: 0px;
      height: auto;
      width: 100%;
      justify-content: center;
    }
    .theme-option {
      margin-top: 0px;
      margin-left: 20px;
    }
    .menu {
      flex-direction: row;
    }
  }
</style>

<script>
  
  document.addEventListener("astro:page-load", () => {
    const themeToggles = document.querySelectorAll("[data-theme-toggle]");

    const getTheme = () => localStorage.getItem("theme") || "light";

    const setTheme = (theme: string) =>
      document.documentElement.setAttribute("data-theme", theme);

    themeToggles.forEach((toggle) => {
      toggle.addEventListener("click", () => {
        const nextTheme = getTheme() === "light" ? "dark" : "light";
        localStorage.setItem("theme", nextTheme);
        setTheme(nextTheme);
      });
    });
  });
</script>
