---
import SocialLinks from "../atoms/SocialLinks.astro";
import MenuIcon from "../atoms/icons/MenuIcon.astro";

const currentPath = Astro.url.pathname;
---

<header>
  <button id="button-theme">Tema</button>
  <div class="menu-button" id="button-menu">
    <MenuIcon />
  </div>
  <div class="container" id="menu">
    <ul class="menu">
      <li><a href="/">Inicio</a></li>
      <li>
        <a href="/about" class={currentPath === "/about" ? "active" : ""}
          >Sobre mi</a
        >
      </li>
      <li>
        <a href="/projects" class={currentPath === "/projects" ? "active" : ""}
          >Proyectos</a
        >
      </li>
      <li>
        <a
          href="/#experience"
          class={currentPath === "/experience" ? "active" : ""}>Experiencia</a
        >
      </li>
      <li>
        <a href="/#contact" class={currentPath === "/contact" ? "active" : ""}
          >Contáctame</a
        >
      </li>
    </ul>
    <div class="social-links">
      <SocialLinks />
    </div>
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 30px 20px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
  }
  .menu-button {
    display: none;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
  }

  .active {
    color: var(--primary-color);
  }

  @media (max-width: 740px) {
    header {
      padding: 20px 10px;
    }
    .menu-button {
      display: block;
    }
    .container {
      position: fixed;
      left: 0px;
      top: 0px;
      height: 100vh;
      flex-direction: column;
      justify-content: space-between;
      padding: 70px 10px;
      z-index: -1;
      display: none;
    }
    .displayed {
      display: flex;
    }
    .menu {
      flex-direction: column;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const button = document.getElementById("button-menu");
    const menu = document.getElementById("menu");
    const themeBtn = document.getElementById("button-theme");
    button?.addEventListener("click", () => {
      menu?.classList.toggle("displayed");
    });

    const setTheme = (theme: string) => {
      localStorage.setItem("theme", theme);
      document.documentElement.setAttribute("data-theme", theme);
    };

    themeBtn?.addEventListener("click", () => {
      const currentTheme = document.documentElement.getAttribute("data-theme");
      let targetTheme = "light";
      if (currentTheme === "light") {
        targetTheme = "dark";
      }
      setTheme(targetTheme);
    });

    const themeCurrent = localStorage.getItem("theme") || "light";
    setTheme(themeCurrent);
  });
</script>
