---
import ListBlog from "./ListBlog.astro";
---

<nav>
  <ListBlog />
</nav>

<style>
  nav {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 300px;
    background-color: var(--bg-color1-opacity);
    backdrop-filter: blur(5px);
    padding-top: 100px;
  }

  @media (max-width: 1000px) {
    nav {
      display: none;
    }
  }
</style>
