---
import BackArrow from "../atoms/icons/BackArrow.astro";

interface Props {
  href?: string;
}
const { href } = Astro.props;
---

<a id="back-button-intern" href={href || "javascript:history.back()"}>
  <BackArrow /> Atrás
</a>

<style>
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s;
  }
  a:hover {
    gap: 15px;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const link = document.getElementById("back-button-intern");
    var referrer = document.referrer;
    var domain = window.location.protocol + "//" + window.location.host + "/";
    console.log(referrer, "---", domain, '**', link?.getAttribute("href"));
    if (
      referrer !== domain &&
      link?.getAttribute("href") === "javascript:history.back()"
    ) {
      link.setAttribute("href", "/");
    }
  });
</script>
