---
const { label, buttonSize } = Astro.props;
---

<button>
  {label}
</button>

<style define:vars={{ buttonSize }}>
  button {
    border: none;
    color: white;
    border-radius: var(--border-radius);
    padding: 10px 25px;
    background-color: var(--primary-color);
    cursor: pointer;
    width: var(--buttonSize);
  }
  button:hover {
    background: var(--primary-color);
    color: white;
  }
</style>
