---
import ArrowIcon from "./icons/ArrowIcon.astro";
const { label } = Astro.props;
---

<div>
  {label} <ArrowIcon />
</div>

<style>
  div {
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-color3);
    transition: all 0.2s;
    font-size: 17px;
  }
  div:hover {
    gap: 20px;
  }
</style>
