---
import type { StackSchema } from "../../../domain/schemas/StackSchema";
interface Props {
  stack: StackSchema;
}

const { stack } = Astro.props;
---

<div class="card">
  <img src={`/images/stack/${stack.icon}`} alt={`Ãcono de ${stack.title}`} />
  {stack.title}
</div>

<style>
  .card {
    display: flex;
    align-items: center;
    gap: 5px;
    border: solid 1px var(--gray1);
    padding: 5px 10px;
    border-radius: 10px;
  }
</style>
