---
import type { StackSchema } from "../../../domain/schemas/StackSchema";
interface Props {
  stack: StackSchema;
}

const { stack } = Astro.props;
---

<div class="card">
  <img src={`/images/stack/${stack.icon}`} alt={`Stack logo ${stack.title}`} />
  {stack.title}
</div>

<style>
  .card {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 13px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    color: var(--text-color2);
    background-color: var(--bg-color2);
  }
</style>
