---
import { getLangFromUrl, useTranslations } from "../../../data/i18n/utils";
import DateIcon from "./icons/DateIcon.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
interface Props {
  dates: (string | Date)[];
}
const { dates } = Astro.props;
---

<p>
  <DateIcon size={20} />
  {
    dates
      .map((date) =>
        typeof date === "string"
          ? date === "present"
            ? t("generic.present")
            : date
          : `${date.toLocaleString(lang, {
              month: "long",
            })}, ${date.getFullYear()}`
      )
      .join(" - ")
  }
</p>

<style>
  p {
    margin: 0px;
    color: var(--text-color2);
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-style: italic;
  }
</style>
