---
import DateIcon from "./icons/DateIcon.astro";
interface Props {
  dates: string[];
}
const { dates } = Astro.props;
---

<p>
  <DateIcon size={20} />
  {dates[0]} - {dates[1]}
</p>

<style>
  p {
    margin: 0px;
    color: var(--text-color2);
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-style: italic;
  }
</style>
