---
interface Props {
  title: string;
  transition_name?: string;
}

const data = Astro.props;
---

<div class="bg-text"></div>
<div class="container" transition:name={data.transition_name || ""}>
  <div class="title-container">
    <div class="line"></div>
    <h2>{data.title}</h2>
  </div>
  <div class="slot">
    <slot />
  </div>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .line {
    width: 40px;
    border-bottom: solid 4px var(--primary-color);
  }
  .title-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  h2 {
    color: var(--primary-color);
    margin: 0px;
  }
  .bg-text {
    opacity: 0.4;
    position: absolute;
    margin-top: -30px;
    margin-left: 20px;
    filter: blur(20px);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--primary-color);
  }
  @media (max-width: 740px) {
    h2 {
      font-size: 26px;
    }
    .bg-text {
      font-size: 50px;
    }
    .container,
    .title-container {
      flex-direction: column;
      align-items: normal;
      gap: 10px;
    }
    .slot {
      align-self: flex-end;
    }
  }
</style>
