---
import { Image } from "astro:assets";
import Photo1 from "../presentation/media/images/photo1.png";
import Layout from "../presentation/layouts/Layout.astro";
import AboutHobbies from "../presentation/components/molecules/AboutHobbies.astro";
import BackButton from "../presentation/components/atoms/BackButton.astro";
---

<Layout title="Sobre mi">
  <div class="container">
    <div>
      <BackButton href="/" />
      <Image
        class="image"
        src={Photo1}
        alt="foto de Wilfer Daniel Ciro Maya"
        transition:name=`me-photo`
      />
    </div>
    <div>
      <h2 transition:name=`me-name`>Wilfer Daniel Ciro Maya</h2>
      <h3 transition:name=`me-profession`>Fullstack developer</h3>
      <p>
        Como full stack developer comprometido, responsable y apasionado por la
        programación, tengo una amplia experiencia en el desarrollo de software
        y en la implementación de soluciones innovadoras. Me siento cómodo
        trabajando en diferentes lenguajes de programación y frameworks, así
        como en la creación de aplicaciones web, móviles y de escritorio.
      </p>
      <p>
        He trabajado en equipos multidisciplinarios, colaborando en la creación
        de soluciones a medida para clientes de diferentes sectores. Soy capaz
        de entender los requerimientos y necesidades del cliente, y proponer
        soluciones que cumplan con sus expectativas. Además, cuento con
        habilidades en la gestión de proyectos y en la comunicación asertiva con
        los diferentes miembros del equipo.
      </p>
      <AboutHobbies />
    </div>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 70%;
    margin: auto;
    gap: 50px;
    justify-content: space-around;
  }
  .image {
    width: 35vw;
    height: 35vw;
    border-radius: 100%;
  }
  h2,
  h3 {
    margin: 5px;
  }
  h3 {
    font-weight: 300;
  }

  
  @media (max-width: 740px) {
    .container {
      display: block;
      height: auto;
      padding-top: 90px;
    }
  }
</style>
