---
import ContactmeSection from "../presentation/components/organisms/sections/ContactmeSection.astro";
import Layout from "../presentation/layouts/Layout.astro";
---

<Layout title="Contáctame">
  <section>
    <ContactmeSection />
  </section>
</Layout>

<style>
  section {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    min-height: 100vh;
  }
  @media (max-width: 740px) {
    section {
      width: 95%;
    }
  }
</style>
