---
import allProjects from "../data/projects-list";
import BackButton from "../presentation/components/atoms/BackButton.astro";
import TitlePage from "../presentation/components/atoms/TitlePage.astro";
import ProjectsList from "../presentation/components/molecules/ProjectsList.astro";
import Layout from "../presentation/layouts/Layout.astro";

const projects = Object.keys(allProjects).map((key: string) => ({
  ...allProjects[key],
  key,
}));
---

<Layout title="Listado de proyectos">
  <section>
    <TitlePage title="Lista de todos mis proyectos" />
    <BackButton href="/#projects" />
    <p>
      Descubre todos los proyectos que he desarrollado a lo largo de mi carrera
    </p>
    <ProjectsList projects={projects} />
  </section>
</Layout>

<style>
  .container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  section {
    width: 70%;
    margin: auto;
    margin-top: 100px;
  }
</style>
