---
import LinkedInIcon from "../../atoms/icons/LinkedInIcon.astro";

---

<h3>Contáctame</h3>

<p>Ponte en contacto conmigo a través de alguno de mis enlaces, o envíame un mensaje con el formulario</p>

<ul>
    <li>
        <LinkedInIcon />
    </li>
</ul>