---
import TitlePage from "../../atoms/TitlePage.astro";
import Divider from "../../atoms/Divider.astro";
import QuoteIcon from "../../atoms/icons/QuoteIcon.astro";
import ImageWEffect from "../../atoms/ImageWEffect.astro";
import SocialLinks from "../../atoms/SocialLinks.astro";
import { getLangFromUrl, useTranslations } from "../../../../data/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="container">
  <TitlePage title={t("generic.contactme")} />
  <Divider />
  <div class="body">
    <div class="photo-container">
      <ImageWEffect transition="contact-photo" />
    </div>
    <header>Wilfer Daniel Ciro Maya</header>
    <div class="quote">
      <p class="quote-icon">
        <QuoteIcon />
      </p>
      <p>{t("contact.lets_build")}</p>
    </div>
    <Divider />
    <footer>
      <a href={`mailto:wilcirom@gmail.com?subject=${t("contact.lets_build")}`}
        ><label>{t("contact.send_mail")}</label>
      </a>
      <a href="https://wa.me/+573173587462" target="_blank"
        ><label>{t("contact.send_whatsapp")}</label>
      </a>
      <a
        href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ1JMWxfrXAC_FN9iz5XRM4cjN0TUsBiaeANkGTAwjIb0y85VHEIkrV2RVM5H2fIcx55-sGq3Ftz"
        target="_blank"
        ><label>{t("contact.schedule")}</label>
      </a>
    </footer>
    <div class="social">
      <SocialLinks />
    </div>
  </div>
</div>

<style>
  .body {
    box-shadow: var(--shadow) 0px 2px 2px 0px, var(--shadow) 0px 4px 4px 0px,
      var(--shadow) 0px 8px 8px 0px, var(--shadow) 0px 16px 16px 0px,
      var(--shadow) 0px 32px 32px 0px;
    border-radius: 16px;
    width: 740px;
    max-width: 95%;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
  }
  .photo-container {
    width: 10vw;
    height: 10vw;
    margin: auto;
  }

  .quote {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-style: italic;
    position: relative;
  }
  .quote-icon {
    opacity: 0.5;
  }

  header,
  h5 {
    margin: 5px 0px;
  }
  header {
    color: var(--text-color2);
  }
  h5 {
    color: var(--text-color3);
  }
  header {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  footer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: 10px auto;
  }
  footer a {
    display: block;
    padding: 10px 15px;
    border-radius: 40px;
    border: solid 2px var(--border-color);
    width: 33%;
    font-size: 15px;
    cursor: pointer;
    position: relative;
  }
  footer a:before {
    content: "";
    transition: all 0.3s ease;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--primary-color);
    z-index: 1;
    border-radius: 40px;
    opacity: 0;
  }
  footer a label {
    position: inherit;
    z-index: 3;
    cursor: pointer;
  }
  footer a:hover {
    color: var(--text-color1);
    opacity: 1;
  }
  footer a:hover:before {
    width: 100%;
    opacity: 1;
  }
  .social {
    margin: auto;
    width: fit-content;
    margin-top: 50px;
  }
  @media (max-width: 740px) {
    .photo-container {
      width: 150px;
      height: 150px;
      display: block;
    }
    footer {
      flex-direction: column;
      margin-top: 0px;
    }
    footer a {
      width: 100%;
    }
    .quote {
      width: 90%;
      margin: auto;
    }
    .quote-icon {
      display: none;
    }
  }
</style>
