---
import type { ReviewSchema } from "../../../../domain/schemas/WorkSchema";
import ReviewsList from "../../molecules/ReviewsList.astro";
const reviewList: ReviewSchema[] = [
  {
    description:
      "Wilfer es un profesional que destaca por sus habilidades analíticas, capacidad de resolución de problemas, logrando trabajar en equipo, siempre orientado al logro de objetivos, proponiendo las mejores soluciones en cada uno de los proyectos donde ha participado.",
    relationship: "Reclutadora IT",
    who: "Carolina Bravo",
    photo: "/images/reviews/caro.jpeg",
    linkedIn: "https://www.linkedin.com/in/carolina-bravo-gallego-643148164/",
  },
  {
    description:
      "Wilfer es un profesional dedicado y comprometido con las metas que se propone, siempre presto a ayudar y esto hace que al trabajar con el se genere un ambiente laboral cómodo y confiado, así mismo, destaca por su responsabilidad, sus ganas de estar en constante capacitación y agilidad para buscar y aplicar soluciones a problemas.",
    relationship: "Machine learning developer",
    who: "Andrés Jimenez",
    photo: "/images/reviews/andres.jpeg",
    linkedIn: "https://www.linkedin.com/in/andres-jimenez-garcia-3b68791a0/",
  },
];
---

<div class="container">
  <div class="body">
    <ReviewsList reviews={reviewList} />
  </div>
</div>

<style>
  .container {
    background-color: var(--secondary-color);
    height: 45vh;
    color: rgb(230, 230, 230);
  }
  .body {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 740px) and (max-width: 1000px) {
    .body {
      width: 95%;
    }
  }
  @media (max-width: 740px) {
    .container {
      background-color: var(--secondary-color);
      height: auto;
    }
  }
</style>
