---
import ImageWEffect from "../../atoms/ImageWEffect.astro";
import ButtonArrow from "../../atoms/ButtonArrow.astro";
---

<!--div>
  <p class="bg-name">:▾:...</p>
  <p class="bg-name2">.::..::.▾...:::..</p>
</div-->

<div class="container">
  <div class="front">
    <p class="greetings">— ¡Hola! soy</p>
    <h1 transition:name="me-name">Wilfer Daniel Ciro Maya</h1>
    <h2 class="profession" transition:name=`me-profession`>
      Full stack developer
    </h2>
    <h3 class="creator" transition:name="me-description">Creador de soluciones para el mundo</h3>
    <a href="/about">
      <ButtonArrow label="Conoce más sobre mí" />
    </a>
  </div>
  <div class="photo-container">
    <ImageWEffect />
  </div>
</div>

<style>
  .photo-container {
    width: 32vw;
    height: 32vw;
    margin: auto;
  }
  .bg-name {
    font-size: 250px;
    position: absolute;
    opacity: 0.1;
    margin-top: 30px;
    color: var(--primary-color);
    z-index: inherit;
    z-index: 1;
    overflow-wrap: anywhere;
  }
  .bg-name2 {
    font-size: 250px;
    position: absolute;
    opacity: 0.1;
    margin-top: 230px;
    color: var(--primary-color);
    overflow-wrap: anywhere;
  }

  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    width: 80%;
  }
  h1,
  h2,
  h3 {
    margin: 0px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }

  .greetings {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
  }
  .creator {
    margin-top: 10px;
    font-weight: normal;
    margin-bottom: 50px;
    color: var(--text-color3);
  }
  .profession {
    font-weight: 400;
  }

  @media (min-width: 740px) and (max-width: 1000px) {
    .container {
      flex-direction: column-reverse;
      justify-content: center;
      width: 90%;
      margin: auto;
      text-align: center;
      gap: 40px;
    }
    .photo-container {
      width: 55vw;
      height: 55vw;
      margin: 0px;
    }
  }
  @media (max-width: 740px) {
    .container {
      flex-direction: column-reverse;
      justify-content: center;
      width: 90%;
      margin: auto;
      text-align: center;
      gap: 40px;
    }
    h1 {
      font-size: 35px;
    }
    h4 {
      font-size: 30px;
    }

    .bg-name {
      font-size: 100px;
      margin-top: -20px;
      overflow: hidden;
      width: 90%;
    }
    .bg-name2 {
      font-size: 100px;
      overflow: hidden;
      width: 90%;
    }
    .photo-container {
      width: 65vw;
      height: 65vw;
      margin: 0px;
    }
  }
</style>
