---
import allProjects from "../../../../data/projects-list";
import Button from "../../atoms/Button.astro";
import Divider from "../../atoms/Divider.astro";
import TitlePage from "../../atoms/TitlePage.astro";
import ProjectsList from "../../molecules/ProjectsList.astro";

const projects = Object.keys(allProjects)
  .slice(0, 3)
  .map((key: string) => ({
    ...allProjects[key],
    key,
  }));
---

<TitlePage title="Proyectos recientes"
  ><a href="/projects"
    ><Button
      label={`Ver todo (${Object.keys(allProjects).length})`}
    />
  </a>
</TitlePage>
<Divider />
<ProjectsList projects={projects} />
