---
import { getLangFromUrl, useTranslations } from "../../../../data/i18n/utils";
import worksLists from "../../../../data/works-list";
import Divider from "../../atoms/Divider.astro";
import TitlePage from "../../atoms/TitlePage.astro";
import WorkCardPrimary from "../../atoms/WorkCardPrimary.astro";
import WorkCardSecondary from "../../atoms/WorkCardSecondary.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const allWorks = worksLists;
---

<TitlePage title={t("works.experience")} />
<Divider size="45px" />
<div class="container">
  <div class="primary">
    <WorkCardPrimary {...allWorks[0]} />
  </div>
  <div class="secondary">
    {
      ([...allWorks].splice(1, allWorks.length + 1) || []).map((work) => {
        return <WorkCardSecondary {...work} />;
      })
    }
  </div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 10px;
    width: 90%;
    margin: auto;
    justify-content: flex-start;
  }
  .secondary {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: 1000px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
</style>
